<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/home.css">
    <title>Home Dashboard</title>
</head>

<body>
    <div class="wrapper">
       <div class="title">
         Dream House
       </div>
       <form id="loginForm" method = "POST" action = "/recommendation">
          <div class="field">
             <input id="Budget" type="number" name="user-budget" required>
             <label>Your Budget</label>
          </div>
          <div class="field">
            <input id="house-saving" type="number" name="house-saving" required>
            <label>House Saving (%)</label>
         </div>
         <div class="field">
            <input id="furniture-saving" type="number" name="furniture-saving" required>
            <label>Furniture Saving (%)</label>
         </div>
         <br>
         <div class="field">
            <input type="submit" name="Search" value="Search House">
         </div>
       </form>
    </div>
</body>
</html>