<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/login.css">
    <title>Login Dashboard</title>
</head>

<body>
    <div class="wrapper">
       <div class="title">
          Login
       </div>
       <form method = "POST" action = "/login">
          <div class="field">
             <input type="text" required>
             <label>Username</label>
          </div>
          <div class="field">
             <input type="password" required>
             <label>Password</label>
          </div>
          {% if session_info != "" %}
            <div class="session_info">
               {{ session_info }}
            </div>
          {% endif %}
          <div class="field">
             <input type="submit" value="Login">
          </div>
          <div class="signup-link">
             Not a member? <a href="{{url_for('register')}}">Signup now</a>
          </div>
       </form>
    </div>
</body>
</html>