<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/register.css">
    <title>Register Dashboard</title>
</head>

<body>
    <div class="wrapper">
       <div class="title">
          Register
       </div>
       <form method = "POST" action = "/register">
         <div class="field">
             <input type="text" name="username" required>
             <label>Username</label>
          </div>
          <div class="field">
             <input type="password" name="password" required>
             <label>Password</label>
          </div>
          {% if session_info != "" %}
            <div class="session_info">
               {{ session_info }}
            </div>
          {% endif %}
          <div class="field">
             <input type="submit" value="Register">
          </div>
          <div class="signup-link">
             Alraedy Have an Account? <a href="{{url_for('login')}}">Login now</a>
          </div>
       </form>
    </div>
</body>
</html>